
body{
	display: grid;
	grid-template-areas:
	"header header"
	"main-content sidebar"
	"quote quote"
	"cards cards"
	"footer footer";
}

header{
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background: var(--color-primario);
	z-index: 2;
	grid-area: header;
}

img.logo{
	width:100px;
	height:auto;
}

ul.menu, nav{
	display: flex;
	gap: 20px;
	list-style-type: none;
}