header{
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
}

img.logo{
	width:100px;
	height:auto;
}

ul.menu, nav{
	display: flex;
	gap: 20px;
	list-style-type: none;
}

li, a{
	text-decoration: none;
}

.barra-filtros ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	background: gray;
	padding:10px 0;
}

li button{
	padding:6px;
}

li button:hover{
	background:#ffa;
}

li button.activo{
	background:#88f;
}

li button:focus-visible{
	outline: 5px solid red;
	background:#ffa;
}

article .contenedor-tarjetas{
	display: flex;
}

section .tarjeta{
}