
:root {
  --color-primario: #bbb;
  --color-fondo: #2e71cc;
  --color-texto: #028;
}

main{
	display: flex;
	flex-direction:column;
	background: var(--color-fondo);
	color: var(--color-texto);
}

header{
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background: var(--color-primario);
	z-index: 2;
}

img.logo{
	width:100px;
	height:auto;
}

ul.menu, nav{
	display: flex;
	gap: 20px;
	list-style-type: none;
}

li, a{
	text-decoration: none;
	color: var(--color-texto);
}

.barra-filtros ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	background: var(--color-primario);
	padding:10px 0;
}

li button{
	padding:6px;
}

li button:hover{
	background:#ffa;
}

li button.activo{
	background:#88f;
}

li button:focus-visible{
	outline: 5px solid red;
	background:#ffa;
}

article.contenedor-tarjetas{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}

section.tarjeta{
	flex-basis: 30%;
	background: var(--color-primario);
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: center; 
}

section.tarjeta:hover{
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.6);
	transform:translate(-10px,-10px);
}

section img{
	background:red;
	width:50%;
	aspect-ratio:1;
}

section button{
	width: 50%;
}